langchain
pip==24.0
langsmith
python-dotenv==1.0.0
unstructured==0.9.2
tiktoken
faiss-cpu==1.7.4
langchain-core
langchain-community
langchain_openai
bs4
streamlit-chat
huggingface-hub 
InstructorEmbedding
PyPDF2
streamlit
transformers
openai
streamlit.text_input
